    
    <main>
        
        <input placeholder="Search" 
               autocomplete="on" 
               ng-focus="searchFocus()" 
               ng-blur="searchBlur()"
               ng-model="searchText"
               ng-keypress="searchPlaces($event)"/>
        
<!--        <header></header>-->
<!--        <button ng-click="facebookLogin()">Facebook Login</button>-->
        <section class="card" ng-show="!isLoaded">
            <h1>Loading ..</h1>
            <h2>For better experiences, please allow location access. We will never store your location.</h2>
        </section>
        
        <!-- START SEARCH PART-->
        <section class="card"
                 ng-repeat="data in searchResults" 
                 >
            
            <h1 style="margin-top: 5px;">
                  <strong>
<!--                      <a ng-click='onPlaceNameClick(data.get("place").id)'>-->
                      <a ng-click='onPlaceNameClick(data.get("place").id)'>
                          {{data.name}}
                      </a> 
                  </strong>
                  <span> 
                      {{data.location.city}}  
                      {{data.location.street}} 
                      {{data.location.zip}}  
                      , 
<!--                      {{data.distance}} km away-->
                  </span>
              </h1>

        </section>
        <!-- END SEARCH PART -->
        
        
        
        <section class="card" 
                 ng-repeat="data in reviewData" 
                 ng-class="{'card-selected': $index == selectedIndex}"
                 ng-click="moveToThisCard($index)"
                 ng-mouseover="hoverInCard()"
                 >
<!--            ng-click="cardClick($index)"-->
          <div class="image-placeholder" ng-if='data.get("place").get("image_url")'>
            <img ng-src='{{data.get("place").get("image_url")}}'> 
          </div>
            
            
            <div class="expand-icon" 
                 ng-click="cardClick($index)"
                 ng-show="selectedIndex != $index">
               <i class="fa fa-expand"></i>
<!--
               <div class="showme">hai</div>
               <div class="ok">ok</div>
-->
            </div>
           
          <div>
              <h1 style="margin-top: 5px;">
                  <strong>
<!--                      <a ng-click='onPlaceNameClick(data.get("place").id)'>-->
                      <a ng-click='onPlaceNameClick(data.get("place").id)'>
                          {{data.get('place').get('name')}}
                      </a> 
                  </strong>
                  <span> 
                      {{data.get('place').get('city')}}  
                      {{data.get('place').get('street')}} 
                      {{data.get('place').get('zip')}}  
                      , 
                      {{data.distance}} km away
                  </span>
              </h1>
              
              <h1 ng-show="selectedIndex != $index">
                  {{data.get('review_text') | limitTo:400}}
              </h1> 
              
<!--
              <span ng-show="selectedIndex != $index" id="more-button">
                  more ... 
              </span>
-->
              
              <!--  In case it's very long, show the full text-->
              
              <h1 ng-show="selectedIndex == $index" class="animate-if">
                  {{data.get('review_text')}}
              </h1> 

          </div>    

            <div id="place-reviewer">
                <h2> reviewed by {{data.get('reviewer').get('facebook_name')}} </h2>
            </div>
            
<!--
            <div ng-show="selectedIndex != $index" id="more-button" ng-click="cardClick($index)">
              <h2>  more ...</h2>
           </div>
-->
           <span ng-show="selectedIndex != $index" id="more-button" ng-click="cardClick($index)">
               see more ...
           </span>
            
<!--            <div id="disqus_thread">Hello</div>-->
            
            <div id="google-map" 
                 ng-if="selectedIndex == $index">
                
                <map zoom="15"
                     style="height:250px;"
                     scrollwheel="false"
                     center='[{{data.get("place").get("location").latitude}}, 
                             {{data.get("place").get("location").longitude}}]'>

                  <marker position='[{{data.get("place").get("location").latitude}}, {{data.get("place").get("location").longitude}}]' />
                </map>
            </div>

            <dir-disqus style="margin-top:10px;"
                        ng-if="selectedIndex == $index"
                        disqus-shortname="onestar"
                        disqus-identifier="{{data.id}}"
                        disqus-url="http://www.onestar.reviews?{{data.id}}">
            </dir-disqus>
            
<!--
            <span class="disqus-comment-count" 
                  data-disqus-url="http://www.onestar.reviews?{{data.id}}"> 
            </span>
-->
            
            <!--

            <div id="disqus_thread"
                 style="float: left;margin-left: 20px;width: 70%;">
            </div>
-->
            

            
            
        </section>
        
<!--        TODO : ng-repeat for the reviewer cards .... -->
        
    </main>
    
<!--    {{fourSqData}}-->
<!--<div ng-view></div>-->
<!--
<script type="text/javascript">

function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
            myOptions);
}
google.maps.event.addDomListener(window, "load", initialize);

</script>
-->