    
    <main>
        
        <input placeholder="Search" 
               autocomplete="on" 
               ng-focus="searchFocus()" 
               ng-blur="searchBlur()"
               ng-model="searchText"
               ng-keypress="searchPlaces($event)"
               style="visibility:hidden;"/>
        
        <section class="card">
          <div class="image-placeholder" ng-if='place.get("image_url")'>
            <img ng-src='{{place.get("image_url")}}'> 
          </div>
          <div>
              <h1 style="margin-top: 5px;">
                  <strong>
                      <a>
                          {{place.get('name')}}
                      </a>
                  </strong>
                  <span> 
                      {{place.get('city')}}  
                      {{place.get('street')}} 
                      {{place.get('zip')}}  
                      
                      <span ng-show="place.distance">{{place.distance}} km away</span>
                  </span>
              </h1>
              
              <h1>
                  {{place.get('description')  | limitTo:500}}
<!--                  {{data.get('review_text') | limitTo:400}}-->
<!--                  TODO: put the most liked review-->
              </h1> 
              
              <!--  In case it's very long, show the full text-->
          </div>    
            <div id="google-map">
                <map zoom="15"
                     scrollwheel="false"
                     style="height:250px"
                     center='[{{place.get("location").latitude}}, 
                             {{place.get("location").longitude}}]'>

                  <marker position='[{{place.get("location").latitude}}, {{place.get("location").longitude}}]' />

                </map>
            </div>
        </section>
        
<!--START REVIEWS PART -->
        
        <section class="card"
                 ng-repeat="data in reviews" 
                 ng-class="{'card-selected': $index == selectedIndex}">

          <div>
              <h1 style="margin-top: 5px;">
                  <strong>
                      <a>
                          <!-- TODO: link to a fucking review page-->
                          {{data.get('review_text') | limitTo:30}} ...
                      </a>
                  </strong>
                 
              </h1>
              
              <h1>
                  {{data.get('review_text')}}
                  
              </h1> 

          </div>    
         <div id="place-reviewer">
                <h2> reviewed by {{data.get('reviewer').get('facebook_name')}} </h2>
            </div>

        <h2 ng-click="cardClick($index)" 
            ng-if="selectedIndex != $index"
            id="join-discussion">
            Join discussion 
        </h2>
            
        <dir-disqus style="margin-top:10px;"
                    ng-if="selectedIndex == $index"
                    disqus-shortname="onestar"
                    disqus-identifier="{{data.id}}"
                    disqus-url="http://www.onestar.reviews?{{data.id}}">
        </dir-disqus>
        </section>
<!--END REVIEWS PART -->
        
<!-- USER review part -->
        <section class="card">

          <div>
              <h1 style="margin-top: 5px;">
              </h1>
              
              <h1>
                  Want to give this place one star? tell us why.((( some complain/discourage text here ... (TBD))))
              </h1> 
              
              <h2>We value authencity of the reviews. Please login to proceed</h2>
          </div>    

        </section>
        
    </main>
