    
    <main>
        
        <input placeholder="Search" 
               autocomplete="on" 
               ng-focus="searchFocus()" 
               ng-blur="searchBlur()"
               ng-model="searchText"
               ng-keypress="searchPlaces($event)"
               style="visibility:hidden;"/>
        
        <section class="card animate-show" ng-show="!isLoaded">
            
<!--  //////////// LOADING ANIMATION // TODO: make it as template or use only css ! ////////////-->
            <svg width="70" height="20" style="position: absolute; fill: cornflowerblue;">
              <rect width="20" height="20" x="0" y="0" rx="3" ry="3">
                <animate attributeName="width" values="0;20;20;20;0" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="height" values="0;20;20;20;0" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="x" values="10;0;0;0;10" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="y" values="10;0;0;0;10" dur="1000ms" repeatCount="indefinite"/>
              </rect>
              <rect width="20" height="20" x="25" y="0" rx="3" ry="3">
                <animate attributeName="width" values="0;20;20;20;0" begin="200ms" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="height" values="0;20;20;20;0" begin="200ms" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="x" values="35;25;25;25;35" begin="200ms" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="y" values="10;0;0;0;10" begin="200ms" dur="1000ms" repeatCount="indefinite"/>
              </rect>
              <rect width="20" height="20" x="50" y="0" rx="3" ry="3">
                <animate attributeName="width" values="0;20;20;20;0" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="height" values="0;20;20;20;0" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="x" values="60;50;50;50;60" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
                <animate attributeName="y" values="10;0;0;0;10" begin="400ms" dur="1000ms" repeatCount="indefinite"/>
              </rect>
            </svg>
<!--  LOADING ANIMATION // TODO: make it as template ! -->
            
<!--            <h1>Loading ..</h1>-->
            <h2 style="margin-top: 7em;">
                <center> "Patience, the key to happiness." - Anonymouse</center>
            </h2>
        </section>
        
        <section class="card" ng-if="isLoaded">
          <div class="image-placeholder" ng-if='place.get("image_url")'>
            <img ng-src='{{place.get("image_url")}}'> 
          </div>
          <div>
              <h1 style="margin-top: 5px;">
                  <strong>
                      <a>
                          {{place.get('name')}}
                      </a>
                  </strong>
                  <span> 
                      {{place.get('city')}}  
                      {{place.get('street')}} 
                      {{place.get('zip')}}  
                      
                      <span ng-show="place.distance">{{place.distance}} km away</span>
                  </span>
              </h1>
              
              <h1>
                  {{place.get('description')  | limitTo:500}}
<!--                  TODO: put the most liked review-->
              </h1> 
              
          </div>    
            <div id="google-map">
                <map zoom="15"
                     scrollwheel="false"
                     style="height:250px"
                     center='[{{place.get("location").latitude}}, 
                             {{place.get("location").longitude}}]'>

                  <marker position='[{{place.get("location").latitude}}, {{place.get("location").longitude}}]' />

                </map>
            </div>
        </section>
        
<!--START REVIEWS PART -->
        
        <section class="card"
                 ng-repeat="data in reviews" 
                 ng-class="{'card-selected': $index == selectedIndex}">

          <div>
              <h1 style="margin-top: 5px;">
                  <strong>
                      <a>
                          <!-- TODO: link to a fucking review page-->
                          {{data.get('review_text') | limitTo:30}} ...
                      </a>
                  </strong>
                 
              </h1>
              
              <h1>
                  {{data.get('review_text')}}
                  
              </h1> 

          </div>    
         <div id="place-reviewer">
                <h2> reviewed by {{data.get('reviewer').get('facebook_name')}} </h2>
            </div>

        <h2 ng-click="cardClick($index)" 
            ng-if="selectedIndex != $index"
            id="join-discussion">
            Join discussion 
        </h2>
            
        <dir-disqus style="margin-top:10px;"
                    ng-if="selectedIndex == $index"
                    disqus-shortname="onestar"
                    disqus-identifier="{{data.id}}"
                    disqus-url="http://www.onestar.reviews?{{data.id}}">
        </dir-disqus>
        </section>
<!--END REVIEWS PART -->
        
        
<!-- BE THE FIRST TO REVIEW PART -->
        <section class="card" ng-if="reviews.length == 0">

          <div>
              <h1 style="margin-top: 5px;">
              </h1>
              
              <h1>
                 Be the first one to give {{place.get('name')}} onestar !
              </h1> 
               <h2>Why you think this place deserve onestar ? what you don't like about it ? </h2>
          </div>    

        </section>
        
<!-- BE THE FIRST TO REVIEW PART -->
        
<!-- USER review part -->
        <section class="card write-review">
<!--            <div>-->
            <textarea class="comment-area" 
                      placeholder="This place sucks because ..." 
                      ng-model="userReviewText"
                      ng-focus="reviewFocus()"
                      ng-blur="reviewBlur()"
                      ></textarea>
            
            <button type="button" 
                    class="submit-review"
                    ng-click="submitReview()"> Submit </button>
<!--                </div>-->
<!--
          <div>
              <h1 style="margin-top: 5px;">
              </h1>
              
              <h1>
                  Want to give this place one star? tell us why.((( some complain/discourage text here ... (TBD))))
              </h1> 
              
              <h2>We value authencity of the reviews. Please login to proceed</h2>
          </div>    
-->

        </section>
        
    </main>
